.form-login{
  position: relative;
  width: 260px;
  height: 155px;
  left: 50%;
  top: 25%;
  margin-left: -130px;

  border-radius: 2%;
  border: 1px solid #282c34;
}

.form-login .title{
  position: relative;
  top: 10px;
}

.form-login .input-field{
  position: relative;
  top: 10px;
  margin-top: 10px;
}

.form-login .input-field input{
  height: 20px;
}

.form-login .button input{
  height: 23px;
  width: 70px;
}