.navbar {
  background-color: #5b88c4ea;
  display: flex;
  justify-content: space-between;
  height: 22px;
  font-size: calc(15px);
  color: rgb(0, 0, 0); 
  padding: 10px 10px;
}

a {
  color: #FFF;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  transition: 0.2s; /* Время перехода */
  padding: 5px 10px;
  margin-right: 10px;
}

a:hover {
  background-color: #FFF; /* Цвет фона */
  color: #476c9c
}

.user a {
  background-color: #e9f0f9f2;
  color: #2b476c;
}

.user a:hover {
  background-color: #2b476c; /* Цвет фона */
  color: #e9f0f9f2
}