.container{
    position: relative;
    width: 240px;
    height: 105px;
    left: 50%;
    top: 25%;
    margin-left: -120px;
    
    border-radius: 2%;
    border: 1px solid #2b3e65;
}
.container h1{
    font-size: large;
    font-weight: normal;
}
.counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#counter-value{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color:#152b56;
    margin-inline: 15px;
}

.counter .button{
    position: relative;
    height: 30px;
    top: 5px;
    padding: 0 20px;
    font-size: x-large;
    background-color: #5b88c4ea;
    color: #fff;

    border: 1px solid white;
    border-radius: 6px;
}

.counter .button:active  {
    background-color: #fff;
    color: #5b88c4ea;
    border-color: #5b88c4ea;
}
