.App {
  text-align: center;
}

.page{
  font-size: large;
}
.page .about-navbar{
  position: relative;
  top:10px;
}
.page .about-navbar a {
  color: black;
  text-decoration: underline;
}

.page .about-navbar a:hover {
  color: blue;
  text-decoration: underline;
}


.error{
  text-align: center;
}

.welcome{
  text-align: center;
}